.boilerplate-frontend {
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.07);
  background-color: #fff;
  border: 2px solid #ffda97;
  color: #fff;
  padding: 20px;
  margin: 20px 0;

  p {
    margin: 0;
    padding: 0;
  }
}

.tree {
  display: block;
  background-image: url('./images/Wish–Tree_Rev.jpg');
  height: 410px;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.tree-animation {
  display: block;
  background-image: url('./images/Wish–Tree_May.gif');
  height: 410px;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.container-title {
  text-align: center;
  margin-bottom: 20px;
}

.title {
  color: #000 !important;
}

.error-message {
  color: red;
}

.fontButton {
  font-size: 20px;
  margin-top: 10px;
}

.buttonAlign {
  text-align: center;
}

.wish-input {
  border: 3px solid black !important;
  border-radius: 6px !important;
  color: #000 !important;
  // margin: 5px;
}

.label-wish {
  color: #000;
  font-size: 20px;
}